.idea/*
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
goqrexfil
*.png
*.jpg
qr
*.mp4
file.output.pdf
.DS_Store
payload.raw
file.output
top.secret.file
*.png_original
payload/payload.bin
